@font-face {
  font-family: 'EBGaramond';
  src: url('./fonts./garamond/EBGaramond-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('./fonts/garamond/EBGaramond-Bold.ttf');
  font-weight: bold;
}

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'EBGaramond';
    src: url('./fonts/garamond/EBGaramond-VariableFont_wght.ttf') format('ttf supports variations'),
    url('./fonts/garamond/EBGaramond-VariableFont_wght.ttf') format('ttf-variations');
    font-weight: 100 1000;
  }
  .super-bold {
    font-weight: 1000;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: EBGaramond;
  min-height: 100vh;
}

html, body{
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* duplicated into colorStore to prevent the need of html line styles to move between JS and CSS */
:root {
  --color__lightblue: lightblue;
  --color__accent: #6200ee;
  --color__darkgray: rgba(0, 0, 0, 0.42);
  --color__header: black;

  --color__sunLight: "#FFD93A";
  --color__sunDark: "#E6B528";
  --color__sunLabel: "#a17f1c";
  --color__nightLight: "#48287D";
  --color__nightDark: "#371D67";
  --color__nightLabel: "#4b3476";
  }

.tooltip{
  height: 6rem;
  width: 6rem;
}

.tooltip ~ .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: .25rem;
  position: relative;
  top: -5rem;
  left: -4.6rem;
  z-index: 1;
}

/*
.tooltip:hover ~ .tooltiptext {
  visibility: visible;
} */
